<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gerar Faturas</title>
</head>
<body>
    <h1>Gerar Faturas</h1>
    <form th:action="@{/pagamentos/gerar-mensalidades}" method="post">
        <label for="vehicle_id">ID do Veículo:</label>
        <input type="text" id="vehicle_id" name="vehicle_id" />
        <br/>
        <label for="qtd_boletos">Quantidade de Boletos:</label>
        <input type="text" id="qtd_boletos" name="qtd_boletos" />
        <br/>
        <button type="submit">Gerar Faturas</button>
    </form>
</body>
</html>