<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SUB - Atualizar Associado</title>
</head>
<body>

<section layout:fragment="content">
    <h1 class="mb-4">Atualizar Associado</h1>
    <form action="#" th:action="@{/partners/update/{id}(id=${partner.id})}" th:object="${partner}" method="post">
        <h2 class="mt-4 h5">Dados do Associado</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Nome/Razão social</label>
                <input type="text" id="name" class="form-control" th:field="*{name}" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" id="cpf" class="form-control" th:field="*{cpf}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="rg" class="form-label">RG/Doc. Indentificação</label>
                <input type="text" id="rg" class="form-control" th:field="*{rg}" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" id="email" class="form-control" th:field="*{email}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="dateBorn" class="form-label">Data de Nascimento</label>
                <input type="date" id="dateBorn" class="form-control" th:field="*{dateBorn}" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="phone" class="form-label">Telefone</label>
                <input type="text" id="phone" class="form-control" th:field="*{phone}" />
            </div>
        </div>
        <div class="mb-3">
            <label for="cell" class="form-label">Celular</label>
            <input type="text" id="cell" class="form-control" th:field="*{cell}" />
        </div>

        <h2 class="mt-4 h5">Informações de endereço</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="zipcode" class="form-label">CEP</label>
                <input type="text" id="zipcode" class="form-control" th:field="*{address.zipcode}" />
            </div>
            <div class="col-md-8 mb-3">
                <label for="address" class="form-label">Endereço</label>
                <input type="text" id="address" class="form-control" th:field="*{address.address}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="number" class="form-label">Nº</label>
                <input type="text" id="number" class="form-control" th:field="*{address.number}" />
            </div>
            <div class="col-md-8 mb-3">
                <label for="city" class="form-label">Cidade</label>
                <input type="text" id="city" class="form-control" th:field="*{address.city}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="neighborhood" class="form-label">Bairro</label>
                <input type="text" id="neighborhood" class="form-control" th:field="*{address.neighborhood}" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="states" class="form-label">UF</label>
                <input type="text" id="states" class="form-control" th:field="*{address.states}" />
            </div>
        </div>
        <div class="mb-3">
            <label for="complement" class="form-label">Complemento</label>
            <input type="text" id="complement" class="form-control" th:field="*{address.complement}" />
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
        <a href="/partners" class="btn btn-secondary">Cancelar</a>
    </form>
</section>

</body>
</html>
