<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar associado</title>
</head>
<body>
    <h1>Cadastrar associado</h1>
    <form action="#" th:action="@{/partners}" th:object="${createPartnerRequest}" method="post">
        <h2>Dados do associado</h2>
        <input type="text" th:field="*{partner.name}" placeholder="Nome/Razão social" />
        <input type="text" th:field="*{partner.cpf}" placeholder="CPF" />
        <input type="text" th:field="*{partner.rg}" placeholder="RG/Doc. Indentificação" />
        <input type="email" th:field="*{partner.email}" placeholder="E-mail" />
        <input type="date" th:field="*{partner.dateBorn}" placeholder="Data de nascimento" />
        <input type="text" th:field="*{partner.phone}" placeholder="Telefone" />
        <input type="text" th:field="*{partner.cell}" placeholder="Celular 1" />

        <h2>Informações de endereço</h2>
        <input type="text" th:field="*{address.zipcode}" placeholder="CEP" />
        <input type="text" th:field="*{address.address}" placeholder="Endereço" />
        <input type="text" th:field="*{address.number}" placeholder="Nº" />
        <input type="text" th:field="*{address.city}" placeholder="Cidade" />
        <input type="text" th:field="*{address.neighborhood}" placeholder="Bairro" />
        <input type="text" th:field="*{address.states_id}" placeholder="UF" />
        <input type="text" th:field="*{address.complement}" placeholder="Complemento" />

        <h2>Informações de adesão</h2>
        <input type="text" th:field="*{adhesion.value}" placeholder="Valor da adesão" />

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
